/**********************************************
* root
**********************************************/
:root {
    /* Primary */
  --Green-500: hsl(171, 66%, 44%);
  --Blue-100: hsl(233, 100%, 69%);
  /* Neutral */
  --Gray-700: hsl(210, 10%, 33%);
  --Gray-500: hsl(201, 11%, 66%);
}

/**********************************************
* general
**********************************************/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Bai Jamjuree", sans-serif;
}

p{
    color: var(--Gray-500);
    line-height: 1.8;
    font-weight: 400;
}

h1, h2, h3{
    color: var(--Gray-700);
    font-weight: 600;
}

/**********************************************
* body
**********************************************/
body{
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

body::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    background-image: url('./images/bg-header-desktop.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    pointer-events: none;
}

/**********************************************
* Section 1
**********************************************/

.section1{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem 1rem;
    gap: 20px;
    width: 35%;
    margin-top: 150px;
}

.download{
    cursor: pointer;
    border-radius: 20px;
    padding: 10px 30px;
    border: none;
    color: white;
}

.dwnios {
    background-color: var(--Green-500);
    margin-right: 10px;
    box-shadow:
        0 2px 0 hsl(171, 66%, 35%),
        inset 0 1px 0 rgba(255, 255, 255, 0.2);
}

.dwnmac {
    background-color: var(--Blue-100);
    box-shadow:
        0 2px 0 hsl(233, 100%, 60%),
        inset 0 1px 0 rgba(255, 255, 255, 0.2);
}

.download:hover {
    filter: brightness(1.15);
}



/**********************************************
* Section 2
**********************************************/

.section2{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.section2-titre{
    text-align: center;
    padding: 2rem 3rem;
    width: 40%;
    margin: 30px auto;
}

.section2-content{
    display: flex;
    align-items: center;
}

.section2-content-img{
    width: 55%;
    margin-left: -5%;
}

.section2-content-img img{
    width: 100%;
    display: block;
}

.section2-content-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 100px;
    width: 30%;
    padding: 0 6rem;
    transform: translateY(-100px);
}

.section2-content-text > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/**********************************************
* Section 3
**********************************************/

.section3{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem 1rem;
    gap: 20px;
    width: 100%;
    
}

.section3-text{
    width: 35%;
    margin-bottom: 40px;
}


/**********************************************
* Section 4
**********************************************/

.section4{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.section4-content{
    display: flex;
    width: 80%;
    gap: 50px;
}

.section4-div-icon{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px;
    gap: 10px;
}

.section4-div-icon img{
    margin-bottom: 20px;
}
.section4-logo{
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.section4-logo img{
    width: 10%;
    height: 10%;
}

/**********************************************
* Section 5
**********************************************/

.section5{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    gap: 40px;
    text-align: center;
    margin: 50px;
    padding: 50px;
}




/**********************************************
* footer
**********************************************/
footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: color-mix(in srgb, var(--Gray-500) 20%, white);
    padding: 30px 10%;
}


footer img{
    width: 50%;
}


.footer-links {
    display: flex;
    gap: 15%;
    width: 50%;
}

.footer-links div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-links a {
    text-decoration: none;
    color: var(--Gray-700);
}

.footer-links a:hover{
    color: var(--Green-500);
}


.footer-reseau{
    display: flex;
    gap: 20px;
}

.footer-reseau img {
    width: 100%;
    transition: 0.2s ease;
}

.footer-reseau img:hover {
    filter: invert(59%) sepia(80%) saturate(464%) hue-rotate(125deg) brightness(97%) contrast(92%);
}


.attribution {
    font-size: 0.6875rem;
    color: var(--Gray-500);
    text-align: center;
}

.attribution a {
    text-decoration: none;
    color: inherit;
}



/**********************************************
* media query
**********************************************/

@media (max-width: 768px) {

    body {
        background-color: white;
        padding: 0 10px 0 10px;
        width: 100%;
    }

    body::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 500px;
        background-image: url('./images/bg-header-mobile.png');
        background-position: top center;
        background-repeat: no-repeat;
        background-size: 100% auto;
        pointer-events: none;
    }

    .section1 {
        display: flex;
        width: 100%;
    }

    .section1 > div {
        display: flex;
        flex-direction: column;
        width: 90%;
        gap: 20px;
    }

    .download {
        width: 100%;
        height: 35px;
        margin-right: 0;
    }

    .section2 {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .section2-titre{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .section2-content {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .section2-content-img {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-left: 0;
    }

    .section2-content-img img {
        width: 90%;
        display: block;
        margin-bottom: 50px;
    }

    .section2-content-text {
        width: 100%;
        padding: 20px 0;
        transform: none;
        gap: 50px;
        text-align: center;
        margin-bottom: 40px;  
    }

    .section3{
        width: 100%;        
    }

    .section3-text{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .section3 img{
        width: 100%;
    }

    .section4{
        display: flex;
        text-align: center;
        gap: 30px;
        width: 100%;
        padding: 0;
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .section4-content{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 60px;
    }

    .section4-div-icon{
        display: flex;
        width: 100%;
        padding: 20px 10px;
    }

    .section4-logo{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
        gap: 60px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

     .section4-logo img{
        width: 50%;
     }

    .section5{
        width: 100%;
        padding: 0;
    }

    .section5 > div {
        display: flex;
        flex-direction: column;
        width: 90%;
        gap: 20px;
        margin-bottom: 60px;
        padding-bottom: 30px;
    }

    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    footer > div:first-child {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 30px;
    }

    footer > div:first-child img {
        width: 50px;
    }

    .footer-links{
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        gap: 30px;
        margin-bottom: 60px;
    }
}